<form [formGroup]="optionsForm" (ngSubmit)="onSubmit()">

  <div class="form-group form-group-lg">
  <fieldset>
    <legend>New Options</legend>
    <div
      class="alert alert-warning"
      [hidden]="!optionsForm.get('newOptions').hasError('duplicate')">You entered duplicate new options</div>
      <div formArrayName="newOptions">
        <div *ngFor="let option of formData; let i = index;">
          <div class="input-group">
            <span class="input-group-addon">{{i + 1 + poll.options.length}}</span>
            <input
              type="text"
              formControlName="{{i}}"
              class="form-control"
              placeholder="Option {{i + 1 + poll.options.length}}">
              <span class="input-group-btn">
                <button
                  type="button"
                  (click)="deleteOption(i)"
                  class="btn btn-lg btn-warning">Delete</button>
                </span>
          </div>
          <div
            class="alert alert-warning"
            [hidden]="option.valid || (option.pristine)">
            <div *ngIf="option.hasError('alreadyExists')">This option already exists</div>
            <div *ngIf="option.hasError('maxlength')">Please do not enter more than 50 characters</div>
            <div *ngIf="option.hasError('pattern')">Please only enter alphanumeric characters and whitespaces</div>
            <div *ngIf="option.hasError('required')">Please enter a valid option or delete it</div>
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div id="buttons">
    <button
      type="button"
      class="btn btn-lg btn-warning"
      (click)="addOption()">Add Option</button>
    <button
      [disabled]="!optionsForm.valid"
      class="btn btn-lg btn-primary pull-right"
      type="submit">Save Option</button>
    <button
      class="btn btn-lg btn-warning pull-right"
      (click)="cancelEdit()"
      type="button">Cancel</button>
  </div>

</form>
