<div *ngIf="polls === null">Loading polls</div>
<div *ngIf="polls !== null && polls.length === 0">
  <div class="row panel panel-default">
    <div class="col col-xs-12 panel-body">No polls available</div>
  </div>
</div>
<div *ngFor="let poll of polls" class="col col-xs-12">
  <div class="row panel panel-default">
    <div class="col col-xs-12 panel-body">{{poll.question}}</div>
    <div class="col col-xs-12 panel-footer">
      <div class="row">
        <div class="col col-xs-8">{{poll.creatorId}}</div>
        <div class="col col-xs-4 text-right"><a [routerLink]='["/poll", poll.pollId]' href="#">Vote now</a></div>
      </div>
    </div>
  </div>
</div>