<div class="col-xs-12 col-md-10 col-md-offset-1">
  <div [ngClass]="{'panel-info': (errorMessage === null), 'panel-warning': (!submitted && (errorMessage !== null)), 'panel': true}">
    <div class="panel-heading">Create new Poll</div>
    <div *ngIf="!submitted && (errorMessage === null)" class="panel-body">
      <p>Enter your question with at least two options below</p>
    </div>
    <div *ngIf="submitted && (errorMessage === null)" class="panel-body">
      <p>Sending poll data to server</p>
      <p>Please wait</p>
    </div>
    <div *ngIf="!submitted && (errorMessage !== null)" class="panel-body">
      <p>{{errorMessage}}</p>
      <p>Please try again or contact our support</p>
    </div>
  </div>
</div>


<div *ngIf="!submitted" class="col-xs-12 col-md-10 col-md-offset-1">
  <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
    <div class="form-group form-group-lg">
      <legend>Question</legend>
      <div class="input-group">
        <span class="input-group-addon">?</span>
        <input
          type="text"
          formControlName="question"
          class="form-control"
          placeholder="Question">
      </div>
      <div
        class="alert alert-warning"
        [hidden]="pollForm.controls.question.valid || (pollForm.controls.question.pristine)">Please enter your question (at least 10 characters; numbers, letters and commatas only).</div>
    </div>

    <div class="form-group form-group-lg">
      <fieldset>
        <legend>Options</legend>
        <div formArrayName="options">
          <div *ngFor="let option of pollForm.get('options').controls; let i = index;">
            <div class="input-group">
              <span class="input-group-addon">{{i + 1}}</span>
              <input
                type="text"
                formControlName="{{i}}"
                class="form-control"
                placeholder="Option {{i + 1}}">
                <span class="input-group-btn">
                  <button
                    type="button"
                    (click)="deleteOption(i)"
                    [disabled]="pollForm.get('options').controls.length <= 2"
                    class="btn btn-lg btn-warning">Delete</button>
                  </span>
            </div>
            <div
              class="alert alert-warning"
              [hidden]="option.valid || (option.pristine)">Please enter a valid option<span *ngIf="pollForm.get('options').controls"> or delete it</span>.</div>
          </div>
        </div>
      </fieldset>
    </div>
    <button
      type="button"
      class="btn btn-lg btn-warning"
      (click)="addOption()">Add Option</button>
    <button
      [disabled]="!pollForm.valid"
      class="btn btn-lg btn-primary pull-right"
      type="submit">Save Poll</button>
  </form>
</div>

<div *ngIf="submitted" class="col col-xs-12 col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="row panel-body">
      <div class="col col-xs-12">Question:</div>
      <div class="col col-xs-12">{{ pollForm.value.question }}</div>
    </div>
    <div *ngFor="let option of pollForm.get('options').controls; let i = index;" class="row panel-body">
      <div class="col col-xs-12">Option {{ i + 1}}:</div>
      <div class="col col-xs-12">{{ option.value }}</div>
    </div>
  </div>
</div>