<div class="col-xs-12">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
      <legend>Question</legend>
      <input
        type="text"
        id="question"
        class="form-control"
        [ngModel]="poll.question"
        name="question"
        placeholder="Question"
        required>
    </div>
    <div class="form-group">
      <fieldset>
        <legend>Options</legend>
        <input
          *ngFor="let option of poll.options; let i = index;"
          type="text"
          id="option{{i}}"
          class="form-control"
          [ngModel]="option"
          name="option{{i}}"
          placeholder="Option {{i + 1}}"
          [attr.required]="i < 2 ? '' : null">
      </fieldset>
    </div>
    <button
      type="button"
      class="btn btn-warning"
      (click)="addOption()">Add Option</button>
    <button
      class="btn btn-primary"
      type="submit">Save Poll</button>
  </form>
</div>