/* You can add global styles to this file, and also import other style files */
.container {
  margin-top:25px;
  margin-bottom:30px;
}

.lead {
  margin-bottom:0;
}

p.lead + p.lead {
  margin-top:25px;
}